@model System.Collections.Generic.IEnumerable<ViewsDemo.Models.Client>

@{
    ViewBag.Title = "title";
}

<h2>title</h2>

<table class="table">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Date de naissance</th>
        <th>Email</th>
        <th>Société</th>
    </tr>
    </thead>

    <tbody>
    @{
        foreach (var client in Model)
        {
            <tr>
                <td>@client.Nom</td>
                <td>@client.Prenom</td>
                <td>@client.DateNaissance</td>
                <td>@client.Email</td>
                <td>@client.Societe</td>
            </tr>
        }
    }
    </tbody>
</table>